<p class="ca-edit-contact-field-title">
  {{titleEditContact}}
</p>

<mat-form-field class="example-full-width">
  <input matInput placeholder="First name" value="" [(ngModel)]="contact.firstName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Last name" value="" [(ngModel)]="contact.lastName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Phone" value="" [(ngModel)]="contact.phone">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Street Address" value="" [(ngModel)]="contact.streetAddress">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="City" value="" [(ngModel)]="contact.city">
</mat-form-field>

<button mat-raised-button (click)="editContact()">Edit & Save</button>
<button mat-raised-button (click)="deleteContact()">Delete</button>
