<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span></span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span></span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span></span>
  </button>
</mat-menu>

<p class="ca-contact-list-title">
  {{title}}
</p>

<mat-list>

  <ca-contact-list-item *ngFor="let contact of contacts"
                        [contact]="contact">
  </ca-contact-list-item>

</mat-list>


<mat-form-field class="example-full-width">
  <input matInput placeholder="First name" value="" [(ngModel)]="firstName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Last name" value="" [(ngModel)]="lastName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Phone" value="" [(ngModel)]="phone">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Street Address" value="" [(ngModel)]="streetAddress">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="City" value="" [(ngModel)]="city">
</mat-form-field>

<button mat-raised-button (click)="addContact()">Add</button>


