<p>
  edit-contact-field works!
</p>

<mat-form-field class="example-full-width">
  <input matInput placeholder="First name" value="" [(ngModel)]="firstName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Last name" value="" [(ngModel)]="lastName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Phone" value="" [(ngModel)]="phone">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Street Address" value="" [(ngModel)]="streetAddress">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="City" value="" [(ngModel)]="city">
</mat-form-field>
